* {
    padding: 0;
    margin: 0;
}
/*---mobil versjon----*/
/*---alle sidene----*/
  .hamburger {
   position: relative;
    width: 46px;
    height: 6px;
    background-color: green;
    margin-top: 5px;
    left: 230px;
    top: 20px;
    border-radius: 2px;
    transition: all .3s ease;
    opacity: 1;
 }


/*#menu{
    position: relative;
    left: 230px;
    top: 79px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    
}
*/
.hamburgermeny {
    position: relative;
    left: 80%;
    top: 4px;
}

.dropdown-content {
  display: none;
  position: relative;
  top: 38px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hamburgermeny:hover {
    cursor: pointer;
    
}

.dropdown-content a {    
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown:hover .dropdown-content {
  display: block;
    background-color: black;
}
.dropdown-content a:hover{
    background-color: darkseagreen;
}

.meny p{
    position: relative;
    font-family: sans-serif;
    font-size: 70%;
    left: 82%;
    top: 55px;
     
}

.logo {
   position: absolute;
    width: 50%;
    bottom: 85%; 
}

.boks {
    position:fixed;
    top: 95px;
    background-color: #478E73;
    width: 100%; 
    height: 350px;
    
}

.footer {
    position: fixed;
    top: 90%;
    background-color: #266B67;
    width: 100%; 
    height: 103px;
}

.footer p {
    color: white;
    font-family: sans-serif;
}
<<<<<<< HEAD

=======
/*---Home-page----*/

/*---Solution----*/
.solutionContent {
    background-color: darkseagreen;
}

/*---About us----*/
.aboutContent {
    position: relative;
    top: 40px;
    padding: 15%;
    background-color: #D6F2C9;
}

.aboutContent h1 {
    color: #266B67;
}

.aboutContent p {
    margin-top: 10%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/*---Contact----*/
input [type=text] {
    width: 80%;
    padding: 12px;
    border: 1px solid #7fc487;
    border-radius: 2px;
    box-sizing: border-box;
}
select {
    width: 80%;
    padding: 4px;
    border: 1px solid #7fc487;
    border-radius: 2px;
}
textarea {
    width: 80%;
    padding: 4px;
    border: 1px solid #7fc487;
    border-radius: 2px;
}

