* {
    padding: 0;
    margin: 0;
}
/*---mobil versjon----*/
/*---alle sidene----*/
  .hamburger {
   position: relative;
    width: 46px;
    height: 6px;
    background-color: green;
    margin-top: 5px;
    left: 230px;
    top: 20px;
    border-radius: 2px;
    transition: all .3s ease;
    opacity: 1;
 }


/*#menu{
    position: relative;
    left: 230px;
    top: 79px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    
}
*/
.hamburgermeny {
    position: relative;
    left: 80%;
    top: 4px;
    width: 40px;
    height: 40px;
}

.hamburgermeny:hover {
    cursor: pointer;
}

.dropdown-content {
  display: none;
  position: relative;
  top: 28px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {    
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown:hover .dropdown-content {
  display: block;
    background-color: black;
}
.dropdown-content a:hover{
    background-color: darkseagreen;
}


/* Fixed navbar: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
.meny {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    height: 15%;
}

.meny p{
    position: relative;
    font-family: sans-serif;
    font-size: 70%;
    left: 82%;
    top: 55px;
}

.logo {
   position: absolute;
    top: 0;
    width: 50%;
}

/*---Home-page----*/

.forsideboks1 {
    position:fixed;
    top: 20%;
    background-color: #478E73;
    width: 100%; 
    height: 30%;
    
}
.forsideboks1 p {
    position: relative;
    color: white;
    top: 10%;
    font-family: sans-serif;
    font-size: 79%;
    margin: 5%; 
    
}

h2 {
    position: relative;
    top: 9%; 
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 200%;
    
}


.forsideboks2 {
    position: fixed;
    top: 60%;
    background-color:#478E73;
    width: 100%;
    height: 30%
}



.forsideboks2 p{
    position: relative;
    margin: 5%; 
    font-family: sans-serif;
    color: white;
    text-align: center;
    top: 8%;
    font-size: 79%; 
}

h1 {
   position: relative;
    top: 8%;
    font-family: sans-serif;
    color: white;
    text-align: center;
    
} 


.footer {
    position: fixed;
    top: 90%;
    background-color: #266B67;
    width: 100%; 
    height: 103px;
}

.footer p {
    color: white;
    font-family: sans-serif;
     
}

p {
    font-family: Arial, sans-serif;
}

<<<<<<< HEAD

=======


/*---Solution----*/
div .solutionContent {
    display: block;
}

.solutionContent {
    position: relative;
    top: 70px;
    padding: 15%;
    background-color: #D6F2C9;
}

.solutionContent h1 {
    color: #266B67;
}

.solutionContent p {
    margin-top: 10%;
    font-size: 20px;
    line-height: 1.5;
}

.solutionPhoto1 {
    height: 30%;
    width: 100%;
}

.solutionPhoto2 {
    height: 30%;
    width: 100%;
}

/*---About us----*/
.aboutContent {
    position: relative;
    top: 70px;
    padding: 15%;
    background-color: #D6F2C9;
}

.aboutContent h1 {
    color: #266B67;
}

.aboutContent p {
    margin-top: 10%;
    font-size: 20px;
    line-height: 1.5;
}

/*---Contact----*/
.contactBox {
    position: relative;
    top: 100px;
}

input [type=text] {
    width: 80%;
    padding: 12px;
    border: 1px solid #7fc487;
    border-radius: 2px;
    box-sizing: border-box;
}
select {
    width: 80%;
    padding: 4px;
    border: 1px solid #7fc487;
    border-radius: 2px;
}
textarea {
    width: 80%;
    padding: 4px;
    border: 1px solid #7fc487;
    border-radius: 2px;
}
 
/*---Media Querys---*/

    /*__Home PageM__*/

@media screen and (min-width: 1024px) {
    .meny {
        display: none;
    }
    .logo {
        display: none; 
    }
    
    .nav {
    position: relative; 
    background-color:#266B67;
    height: 139px; 
    width: 100%;
    }
    
    	
	.nav a {
    position: relative;
    color: white;
    font-size: 243%;
    top: 39px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bolder
    }
    
    
    .hoyre {
    position: relative;
    display: inline-block;
    margin: 2%;
    left: 43%;
    letter-spacing: 3px;
    
    }
    
    .sirkel {
        position: relative;
        background-color: #D6F2C9;
        display: inline-block;
        width: 18%;
        height:140px;
        border-radius: 100%;
        left: 42%;
        bottom:139px
    }
    
    .venstre {
        position: relative;
        display: inline-block;
        margin: 2%;
        letter-spacing: 3px;
        
        
    }
        
    
    .forsideboks1 {
    position:relative;
    display: inline-block;
    bottom: 120px;
    background-color: #478E73;
    width: 40%; 
    height: 390px;
    margin: 4%
    
        
    }
    
    .forsideboks2 {
    display: inline-block;
    position: relative;
    background-color:#478E73;
    width: 40%;
    height: 393px; 
    margin: 4%;
    bottom: 119px;
    }
    
    


}

@media screen and (min-width:)